#home{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

}


.hero{

    width:100%;

    display:flex;

    justify-content:center;

}


.hero-content{

    width:1150px;

    padding:20px 30px;

    text-align:center;

    border-radius:15px;

    background:

    rgba(255,255,255,.18);

    backdrop-filter:blur(20px);

    -webkit-backdrop-filter:blur(20px);

    border:

    2px solid transparent;

    background-image:

    linear-gradient(

        var(rgb(13, 231, 235)),

        var(rgba(0, 208, 255, 0.781))

    ),

    linear-gradient(

        90deg,

        #ff3ea5,

        #2196f3

    );

    background-origin:border-box;

    background-clip:

    padding-box,

    border-box;

    box-shadow:

    0 15px 30px

    rgba(0,0,0,.08);

}

.hero-title{

    font-size: 20pt;

    font-weight:800;

    line-height:1.2;

    color:var(--text);

}

.hero-title span{

    background:

    linear-gradient(

        90deg,

        #06f7c7,

        #2196f3

    );

    -webkit-background-clip:text;

    -webkit-text-fill-color:

    transparent;

}

.hero-description{

    margin-top:20px;

    font-size:14pt;

    color:var(--text-secondary);

}

.hero-buttons{

    margin-top:40px;

    display:flex;

    justify-content:center;

    gap:25px;

}

.btn-primary{

    padding:12px 20px;

    border:none;

    border-radius:18px;

    color:white;

    font-size:10pt;

    font-weight:600;

    background:

    linear-gradient(

        90deg,

        #05fbea,

        #0095ff56

    );

    cursor:pointer;

    transition: all .5s ease;
}

.btn-secondary{

    padding:12px 20px;

    border:

    2px solid #8fd3ff;

    border-radius:18px;

    background:transparent;

    color:var(--text);

    font-size:10pt;

    font-weight:600;

    cursor:pointer;

    transition: all .5s ease;

}

.btn-primary:hover, .btn-secondary:hover{

    transform:translateY(-3px);

    background:

    linear-gradient(

        90deg,

        #05fbea,

        #2196f3

    );

    box-shadow:

    0 10px 25px

    rgba(33,150,243,.3);

}