
body{

    font-family:'Inter',sans-serif;

    background:var(--bg-gradient);

    color:var(--text);

    min-height:100vh;

    overflow-x:hidden;

    transition:

    background .3s,

    color .3s;

}



a{

    text-decoration:none;

    color:inherit;

}


ul{

    list-style:none;

}


button{

    border:none;

    outline:none;

    cursor:pointer;

    font-family:inherit;

}


img{

    display:block;

    max-width:100%;

}



.bg-circle{

    position:fixed;

    border-radius:50%;

    filter:blur(180px);

    z-index:-1;

    pointer-events:none;

}



.circle1{

    width:350px;

    height:350px;

    background:#5b5dfc;

    top:-100px;

    left:-100px;

    opacity:.15;

}


.circle2{

    width:300px;

    height:300px;

    background:#2563eb;

    bottom:-100px;

    right:-100px;

    opacity:.1;

}



body.light-theme::before{

background:

radial-gradient(

circle,

rgba(91,93,252,.03),

transparent 60%

);

}

body.light-theme .circle1{

    opacity:.08;
}


body.light-theme .circle2{

    opacity:.05;
}