
  /* nav */
.navbar {
    position: fixed;

    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    width: 75%;
    padding: 14px 28px;

    z-index:9999;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(255,255,255,0.15);

    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    border: 3px solid rgba(255, 255, 255, 0);

    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.238);

    border-radius: 24px;
}

.nav-links a{

    position:relative;

    font-size:10pt;

    color:var(--text);

    text-decoration:none;

    padding:10px 22px;

    transition:.3s ease;
}

.nav-links a::after{

    content:"";

    position:absolute;

    left:0;

    bottom:0;

    width:0;

    height:2px;

    background:var(--accent);

    transition:.3s ease;
}


.nav-links a:hover{

    color:var(--accent);

}

.nav-links a:hover::after{

    width:100%;
}


.nav-links{

    display:flex;

    list-style:none;

    gap:5px;
}


 /* btn theme mode */

 .theme-btn{

    width:45px;

    height:45px;

    border:none;

    border-radius:50%;

    background:rgba(255,255,255,.1);

    color:var(--text);

    cursor:pointer;

    transition:.3s;
}
 
 .theme-btn:hover{

    transform:scale(1.1);

    box-shadow: 0 0 15px rgba(255,255,255,.3);
}

:root{

--nav-bg:

rgba(255,255,255,.08);

--nav-border:

rgba(255,255,255,.1);

}

.logo{

    font-size:15pt;

    font-weight:700;

}


.first-name{

    color:#14e1fc;

}


.last-name{

    color:rgba(13, 213, 220, 0.917);
}